#containers { margin-top:60px; }

#login-nav input { margin-bottom: 15px; }

.body_Bg {
	background-color:darkgray;
}

#mainContent{
    margin-right: -25px;
    margin-bottom: 30px;
}

#leftContent{
    border-radius:0px;
    margin-left:-15px;
}

#leftContent a{
    background-color:#5cb85c;
    border-radius:0px;
    color:#ffffff;
}

#leftContent a:hover{
    background:#468847;
    background-color:#468847;
    border-radius:0px;
    color:#ffffff;
}

#footerContent a:link{
    color:#ffffff;
}
#footerContent a:visited
{
    color:#ffffff;
}

#footerContent{
    color:#ffffff;
}

#navMaster a:hover {
    color: #ffffff;
    background-color: #3276b1;
}

a.nM:hover{
    color: #ffffff;
    background-color: #3276b1;
}

#logMaster a:hover {
    color: #ffffff;
    background-color: #ed9c28;
}

#dropProfilMaster a:hover{
    color: #000000;
    background-color: #ffffff;
    font-weight:bolder;
}
