@{
  ViewBag.Title = "Console";
  ViewBag.siteMap = "/Exercice/Console";
}

<h2><i class="fa fa-angle-right"></i> Console</h2>

<div class="row mt">
	<div class="col-lg-12">
		<div class="form-panel">
			<h4><i class="fa fa-angle-right"></i> Exercice #1</h4>
			<form action="" class="form-horizontal style-form">
        <div id="code-editor-div"></div>
        <textarea id="code-editor-text" name="code-editor-text"></textarea>
      </form>
		</div>
	</div>
</div>